@import url('https://fonts.googleapis.com/css2?family=Acme&family=Briem+Hand:wght@100..900&family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
}

.main{
    background-color: #000;
    color: #fff;
}

.start_container{
    background-color: #FFC100;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 11px;
    border: 2px solid #FF6500;
}

.logo{
    width: 50%;
    height: 20%;
    margin: 2.5rem auto;
}

.logo img{
    width: 90%;
    height: 100%;
}

.start_data{
    padding: 1rem;
}

.start{
    display: flex;
    flex-direction: column;
}
.btn1 , .btn2{
    margin: 1rem 0;
    padding: 1rem 0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.btn1{
    background-color: #FF6500;
}

.btn2{
    background-color: #00215E;
    
}

.menu_container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.input_data{
    background-color: #646464;
    border-radius: 11px;
    padding: 1rem .7rem;
}
.input_data h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.input_data input{
    width: 90%;
    padding: .5rem .2rem;
    font-size: 1.2rem;
    border: 1px solid #FF6500;
    
}

.room_btn button{
  margin: 0 .5rem;
}